.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.van-swipe-cell__right {
  right: -0.0625rem !important;
}

.jdBtn {
  position: absolute;
  top: 80%;
  left: 22%;
}

.pointBtn {
  position: absolute;
  top: 1%;
  left: 75%;
}

.none {
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkgray;
}

.point-bigBox {
  height: 21.875rem;
  overflow-y: auto;
}

.point-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  justify-content: space-between;
  position: relative;
  margin: 20px;
}

.point-text {
  font-size: 14px;
  color: #232323;
}

.point-time {
  font-size: 13px;
  color: #909399;
  line-height: 0.5;
}

.point-number {
  font-size: 14px;
  color: #000;
  font-weight: 800;
}

.block {
  width: 120px;
  height: 120px;
  /* background-color: #fff;   */
}

.set {
  min-height: 130vh;
  background: #f6f7fc;
}
.header {
  height: 200px;
  display: flex;
  position: relative;
  flex-direction: column;
}
.header-clear {
  width: 100%;
  background: #93c1fc;
  height: 180px;
}
.my-grade {
  color: white;
  text-align: center;
}
.my-title {
  text-align: center;
}
.menu {
  padding: 30rpx;
}
.userinfo {
  position: absolute;
  top: 5rem;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 20px 0 rgba(165, 165, 165, 0.5);
  background: white;
  align-items: center;
}
.my-set {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.userinfo-avatar {
  position: absolute;
  top: -40px;
  left: 20px;
  /* overflow: hidden; */
  width: 64px;
  height: 64px;
  margin: 20rpx;
  border-radius: 50%;
}
.expires_time {
  color: #afafaf;
  font-size: 14px;
  margin-top: 0px;
  text-align: right;
}
.userinfo-nickname {
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 15pt;
}
.userinfo-nickname text {
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.vip {
  margin-left: 5px;
  width: 30px;
  height: 30px;
}
.pay {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-data {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.data-item {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.data-num {
  font-size: 20px;
  color: #1a8afa;
}
.data-name {
  font-size: 14px;
  color: rgb(175, 175, 175);
}
.model-rank .model-item {
  width: 49%;
}
.rank-num {
  color: #1b8cfa;
  font-size: 25px;
}
.model-rank .model-item:nth-child(1) {
  border-right: 1px solid #1b8cfa;
}

.model-title {
  font-weight: bold;
  padding: 10px 0 0 10px;
}
.model {
  position: relative;
  background: white;
  box-shadow: 0 4rpx 20rpx 0 rgba(233, 232, 232, 0.5);
  margin: 20px 10px;
  border-radius: 5px;
}
.model-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.model-item {
  margin: 10px 0;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.model-img {
  width: 30px;
  height: 30px;
}
.model-name {
  margin-top: 10px;
  font-size: 12px;
  color: #88888d;
}
