html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, SimSun, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
  -ms-overflow-style: none;
  /*火狐下隐藏滚动条*/
  overflow: -moz-scrollbars-none;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
body,
h5,
ul,
li,
figure,
p,
button {
  margin: 0;
  padding: 0;
}
body {
  color: #222;
  overflow-x: hidden;
  font-family: 'Microsoft Yahei', PingFangSC-Regular, Helvetica, 'Droid Sans',
    Arial, sans-serif;
}

ul {
  list-style-type: none;
}
input,
button,
select {
  outline: 0;
  border: 0;
}

button {
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}
select {
  -webkit-appearance: none;
}
